.about-three__left {
    margin-right: 0;
}

.services-two__content {
    margin-left: 0;
    border-radius: 0;
}

.page-header__inner {
    padding: 70px 0;
}

.services-two__carousel .owl-stage {
    display: flex;
}

.services-two__carousel .owl-stage .owl-item {
    display: flex;
}

.services-two__carousel .item {
    width: 100%;
}

.services-two__single {
    margin-bottom: 70px;
}

.counter-two {
    padding: 50px 0;
}

.blog-one__content {
    padding-left: 0;
}

.main-menu .main-menu__list>li>ul>li>a::before,
.main-menu .main-menu__list>li>ul>li>ul>li>a::before,
.stricky-header .main-menu__list>li>ul>li>a::before,
.stricky-header .main-menu__list>li>ul>li>ul>li>a::before {
    display: none;
}

.nice-select {
    height: 60px;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.03);
    border: 1px solid #e6e6e8 !important;
    color: #666666;
    font-size: 16px;
    font-weight: 400;
    line-height: 57px;
}

.list {
    width: 100%;
}

.google_map iframe {
    width: 100%;
}

.blog-details__user {
    width: inherit;
    border-radius: 5px;
    padding: 0 10px;
}