.about-three__left {
    margin-right: 0;
}

.services-two__content {
    margin-left: 0;
    border-radius: 0;
}

.page-header__inner {
    padding: 70px 0;
}

.services-two__carousel .owl-stage {
    display: flex;
}

.services-two__carousel .owl-stage .owl-item {
    display: flex;
}

.services-two__carousel .item {
    width: 100%;
}

.services-two__single {
    margin-bottom: 70px;
}

.counter-two {
    padding: 50px 0;
}

.blog-one__content {
    padding-left: 0;
}

.main-menu .main-menu__list>li>ul>li>a::before,
.main-menu .main-menu__list>li>ul>li>ul>li>a::before,
.stricky-header .main-menu__list>li>ul>li>a::before,
.stricky-header .main-menu__list>li>ul>li>ul>li>a::before {
    display: none;
}

.contact-page__input-box select {
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    background-color: #12172b;
    /* match your exact input bg color */
    color: #a0a8c0;
    font-size: 14px;
    font-family: inherit;
    cursor: pointer;
    appearance: none;
    -webkit-appearance: none;
    padding: 18px 20px;
}

.contact-page__input-box select option {
    background-color: #12172b;
    color: #ffffff;
}

.contact-page__input-box select option[disabled] {
    color: #a0a8c0;
}

.nice-select {
    height: 60px;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.03);
    border: 1px solid rgba(rgba(255, 255, 255, .10), .10);
    color: rgba(255, 255, 255, .70);
    font-size: 16px;
    font-weight: 400;
}

.list {
    width: 100%;
}

.contact-page__left iframe {
    height: 675px;
}